@use "./partials/resets";
@use "./partials/typography" as *;

.header {
  text-align: center;
  padding: 1rem 0;
  background: #9b9fe0ab;

  &__title {
    font-family: monospace;
  }
}

.main {
  display: none;
}

.landing--hidden {
  display: none;
}

.info {
  padding: 3rem;

  &__text {
    text-align: center;
    font-size: 18px;
    padding-left: 0.2rem;
  }
}

.game-background {
  height: 30.6rem;
  width: 29.5rem;
  background-image: url("../assets/background/tama-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 9rem;
  margin-left: 10rem;
}

.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    width: 10.2rem;
    height: 9.2rem;
    background-color: rgba(227, 226, 226, 0.696);
    border: black 3px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: inset;
    margin-top: 11rem;
    position: relative;
    right: 3.9rem;
  }

  &__sprite {
    width: 3rem;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    &--high {
      margin-top: 1rem;
    }
  }

  &__btn {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(124, 34, 151);
    margin: 3px;
    cursor: pointer;
  }

  &__health-container {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
    }

    &--right {
      margin-right: 3rem;
    }

    &--left {
      margin-left: 3rem;
    }
  }

  &__health-levels {
    margin: 1rem;
    font-size: 18px;
  }

  &__health-title {
    color: #5357a7;
    font-weight: 600;
  }
}

.main-wrapper {
  display: flex;
}

.landing {
  &__header {
    padding: 1rem;
  }
  &__text-wrapper {
    width: 50rem;
    height: 20rem;
    margin: 5rem auto 0;
    background-color: rgba(227, 226, 226, 0.696);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.name-form {
  display: flex;
  flex-direction: column;

  &__label {
    text-align: center;
  }

  &__input {
    width: 20rem;
  }

  &__start-btn {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &__error {
    padding-top: 0.5rem;
  }
}
