@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/static/Roboto-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/static/Roboto-Light.ttf) format("ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/static/Roboto-Bold.ttf) format("ttf");
  font-style: normal;
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  text-align: center;
  padding: 1rem 0;
  background: rgba(155, 159, 224, 0.6705882353);
}
.header__title {
  font-family: monospace;
}

.main {
  display: none;
}

.landing--hidden {
  display: none;
}
.landing__header {
  padding: 1rem;
}
.landing__text-wrapper {
  width: 50rem;
  height: 20rem;
  margin: 5rem auto 0;
  background-color: rgba(227, 226, 226, 0.696);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media (max-width: 750px) {
  .landing__text-wrapper {
    width: 90vw;
    height: 15rem;
  }
}
.landing__name-form {
  display: flex;
  flex-direction: column;
}
.landing__name-form-label {
  text-align: center;
}
.landing__name-form-input {
  width: 20rem;
}
.landing__name-form-start-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.landing__error {
  padding-top: 0.5rem;
}

.info {
  padding: 2rem;
}
.info__text {
  text-align: center;
  font-size: 18px;
  padding-left: 0.2rem;
}

.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pet__container {
  width: 10.2rem;
  height: 9.2rem;
  background-color: rgba(227, 226, 226, 0.696);
  border: black 3px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: inset;
  margin-top: 1rem;
  position: relative;
  right: 3.9rem;
  top: 11rem;
}
@media (max-width: 750px) {
  .pet__container {
    width: 7.6rem;
    height: 7rem;
    right: 5.3rem;
    top: 8rem;
    margin-top: 0;
  }
}
.pet__container--sleeping {
  background-color: rgba(159, 159, 159, 0.696);
}
@media (max-width: 750px) {
  .pet__game-container {
    max-width: 382px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.pet__game-background {
  height: 30.6rem;
  width: 29.5rem;
  background-image: url("../assets/background/tama-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 9rem;
  margin-left: 10rem;
}
@media (max-width: 750px) {
  .pet__game-background {
    height: 22.6rem;
    margin-left: 4.5rem;
  }
}
.pet__sprite {
  width: 3rem;
}
.pet__btn-container {
  display: flex;
  justify-content: center;
}
.pet__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.pet__btn-wrapper--high {
  margin-top: 1rem;
}
.pet__btn {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: none;
  background-color: rgb(124, 34, 151);
  margin: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.pet__health-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .pet__health-container {
    flex-direction: row;
  }
}
@media (max-width: 750px) {
  .pet__health-container {
    width: 100vw;
    align-items: center;
    margin: 0 auto;
  }
}
.pet__health-levels-pair {
  display: flex;
  justify-content: space-between;
}
.pet__health-levels {
  margin: 1rem;
  font-size: 18px;
}
@media (max-width: 750px) {
  .pet__health-levels {
    font-size: 15px;
  }
}
.pet__health-title {
  color: #5357a7;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */